In [1]:
a = '''長庚大學
醫學系
賴柔蓁'''
print(a)

長庚大學
醫學系
賴柔蓁

In [2]:
a = float(input('請輸入一個數字：'))
print(a)
print(a>10)

請輸入一個數字：11.2
11.2
True

In [3]:
a = 3
b = 5
print (a**b)

243

In [4]:
a = 3
b = 5
print (a!=b)

True

In [5]:
a = 3
b = 5
a/=b
print (a)

0.6

In [6]:
a = 3
b = 5
print (a/b)

0.6